/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */
/* line 300, ../scss/foundation/components/_global.scss */
meta.foundation-version {
  font-family: "/5.2.1/";
}

/* line 305, ../scss/foundation/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

/* line 310, ../scss/foundation/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em;
}

/* line 315, ../scss/foundation/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

/* line 320, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

/* line 325, ../scss/foundation/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

/* line 330, ../scss/foundation/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* line 335, ../scss/foundation/components/_global.scss */
html, body {
  height: 100%;
}

/* line 340, ../scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 345, ../scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 348, ../scss/foundation/components/_global.scss */
body {
  background: #f7f7f7;
  color: #444444;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 361, ../scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 364, ../scss/foundation/components/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 366, ../scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 372, ../scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 377, ../scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 378, ../scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 379, ../scss/foundation/components/_global.scss */
.clearfix {
  *zoom: 1;
}
/* line 145, ../scss/foundation/components/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 146, ../scss/foundation/components/_global.scss */
.clearfix:after {
  clear: both;
}

/* line 380, ../scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 386, ../scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 389, ../scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 399, ../scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 402, ../scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* line 137, ../scss/foundation/components/_pagination.scss */
ul.pagination {
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem;
}
/* line 100, ../scss/foundation/components/_pagination.scss */
ul.pagination li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
/* line 106, ../scss/foundation/components/_pagination.scss */
ul.pagination li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 114, ../scss/foundation/components/_pagination.scss */
ul.pagination li:hover a,
ul.pagination li a:focus {
  background: #e6e6e6;
}
/* line 51, ../scss/foundation/components/_pagination.scss */
ul.pagination li.unavailable a {
  cursor: default;
  color: #999999;
}
/* line 56, ../scss/foundation/components/_pagination.scss */
ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
  background: transparent;
}
/* line 64, ../scss/foundation/components/_pagination.scss */
ul.pagination li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 71, ../scss/foundation/components/_pagination.scss */
ul.pagination li.current a:hover, ul.pagination li.current a:focus {
  background: #008cba;
}
/* line 124, ../scss/foundation/components/_pagination.scss */
ul.pagination li {
  float: left;
  display: block;
}

/* Pagination centred wrapper */
/* line 142, ../scss/foundation/components/_pagination.scss */
.pagination-centered {
  text-align: center;
}
/* line 124, ../scss/foundation/components/_pagination.scss */
.pagination-centered ul.pagination li {
  float: none;
  display: inline-block;
}

/* Start to customize Reverie */
/* line 26, ../scss/style.scss */
a, a:visited, a:hover, a:visited:hover {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}

/* line 31, ../scss/style.scss */
figure {
  margin: 0 auto 1.25rem;
}

/* line 36, ../scss/style.scss */
figure img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 40, ../scss/style.scss */
img.alignright {
  float: right;
  margin: 0 0 18px 18px;
}

/* line 45, ../scss/style.scss */
img.alignleft {
  float: left;
  margin: 0 18px 18px 0;
}

/* line 50, ../scss/style.scss */
img.aligncenter {
  display: block;
  margin: 18px auto;
}

/* line 57, ../scss/style.scss */
.gallery dt, .gallery dl {
  display: inline-block;
}
/* line 60, ../scss/style.scss */
.gallery dl {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem;
}

/* line 67, ../scss/style.scss */
figure.figure {
  margin: 0 auto;
  display: table;
}
/* line 70, ../scss/style.scss */
figure.figure figcaption {
  font-size: 0.875rem;
  line-height: 1.4;
  font-style: italic;
  padding: 8px 10px;
  color: #999;
  margin-bottom: 1.25rem;
  display: table-caption;
  caption-side: bottom;
}

/* line 82, ../scss/style.scss */
figure.alignright.figure {
  float: right;
  margin: 0 0 18px 18px;
}

/* line 87, ../scss/style.scss */
figure.alignleft.figure {
  float: left;
  margin: 0 18px 18px 0;
}

/* line 92, ../scss/style.scss */
.footer-widget {
  background-color: #eee;
}

/* line 96, ../scss/style.scss */
body > header.contain-to-grid {
  margin-bottom: 2rem;
  max-width: 100%;
  padding-bottom: 0;
}

/* line 102, ../scss/style.scss */
#content {
  background-color: #fff;
  border: 1px solid #ddd;
}

/* line 107, ../scss/style.scss */
.index-card {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

/* line 114, ../scss/style.scss */
span.author,
time {
  font-size: 0.9375rem;
  color: #999;
}
/* line 117, ../scss/style.scss */
span.author a,
time a {
  color: #999;
  font-weight: bold;
}
/* line 120, ../scss/style.scss */
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
  color: #444444;
}

/* line 129, ../scss/style.scss */
.entry-author {
  background-color: #fbfbfb;
  border: none;
  padding: 3.125rem 5rem;
  margin: 3.125rem -0.9375rem;
}
/* line 134, ../scss/style.scss */
.entry-author .avatar {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
}
/* line 139, ../scss/style.scss */
.entry-author h4 a {
  color: #999;
}
/* line 141, ../scss/style.scss */
.entry-author h4 a:hover, .entry-author h4 a:focus {
  color: #444444;
}
/* line 146, ../scss/style.scss */
.entry-author p {
  color: #bbb;
}

/* line 152, ../scss/style.scss */
.post header,
.page header {
  margin-bottom: 1.25rem;
}

/* line 156, ../scss/style.scss */
.entry-tags {
  color: #999;
  font-size: 0.9375rem;
}
/* line 159, ../scss/style.scss */
.entry-tags a {
  color: #999;
}
/* line 161, ../scss/style.scss */
.entry-tags a:hover, .entry-tags a:focus {
  color: #444444;
}

/* line 169, ../scss/style.scss */
.page-numbers {
  color: #999;
  display: block;
  height: 1.5rem;
  margin-left: -0.3125rem;
}
/* line 100, ../scss/foundation/components/_pagination.scss */
.page-numbers li {
  height: 1.5rem;
  color: #222222;
  font-size: 0.875rem;
  margin-left: 0.3125rem;
}
/* line 106, ../scss/foundation/components/_pagination.scss */
.page-numbers li a {
  display: block;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 114, ../scss/foundation/components/_pagination.scss */
.page-numbers li:hover a,
.page-numbers li a:focus {
  background: #e6e6e6;
}
/* line 51, ../scss/foundation/components/_pagination.scss */
.page-numbers li.unavailable a {
  cursor: default;
  color: #999999;
}
/* line 56, ../scss/foundation/components/_pagination.scss */
.page-numbers li.unavailable:hover a, .page-numbers li.unavailable a:focus {
  background: transparent;
}
/* line 64, ../scss/foundation/components/_pagination.scss */
.page-numbers li.current a {
  background: #008cba;
  color: white;
  font-weight: bold;
  cursor: default;
}
/* line 71, ../scss/foundation/components/_pagination.scss */
.page-numbers li.current a:hover, .page-numbers li.current a:focus {
  background: #008cba;
}
/* line 124, ../scss/foundation/components/_pagination.scss */
.page-numbers li {
  float: left;
  display: block;
}

/* line 174, ../scss/style.scss */
.pagination-centered ul.page-numbers li {
  float: none;
  display: inline-block;
}

/* line 179, ../scss/style.scss */
.page-numbers li span.current {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 183, ../scss/style.scss */
.page-numbers li {
  margin-left: 0.5rem;
}

/* line 190, ../scss/style.scss */
.page-numbers li span:hover a,
.page-numbers li span a:focus {
  background: #e6e6e6;
}
/* line 193, ../scss/style.scss */
.page-numbers li span.current {
  background: #008cba;
  padding: 0.0625rem 0.625rem 0.0625rem;
  color: white;
  font-weight: bold;
  cursor: default;
}

/* line 202, ../scss/style.scss */
.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
}

/* line 208, ../scss/style.scss */
ol.commentlist {
  margin-left: 0;
  margin-top: 2em;
}
/* line 211, ../scss/style.scss */
ol.commentlist p {
  font-size: 0.9375rem;
  line-height: 1.5;
}
/* line 215, ../scss/style.scss */
ol.commentlist ul.children {
  margin-left: 4rem;
}
/* line 218, ../scss/style.scss */
ol.commentlist li {
  list-style: none;
  margin-bottom: 2em;
}
/* line 222, ../scss/style.scss */
ol.commentlist li .comment-author img {
  float: left;
  margin: 0 1em 0 0;
}
/* line 226, ../scss/style.scss */
ol.commentlist li .author-meta {
  display: inline-block;
}
/* line 228, ../scss/style.scss */
ol.commentlist li .author-meta cite.fn {
  font-style: normal;
  font-weight: 600;
  margin-right: 0.5rem;
}
/* line 233, ../scss/style.scss */
ol.commentlist li .author-meta time a {
  color: #ccc;
  font-size: 0.875rem;
  margin-right: 0.5rem;
}
/* line 238, ../scss/style.scss */
ol.commentlist li .author-meta .comment-edit-link {
  color: #bbb;
  font-size: 0.875rem;
}
/* line 243, ../scss/style.scss */
ol.commentlist li section.comment {
  margin-left: 4rem;
  margin-bottom: 2rem;
}
/* line 246, ../scss/style.scss */
ol.commentlist li section.comment a.comment-reply-link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #bbb;
}
/* line 250, ../scss/style.scss */
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
  color: #444444;
}

/* line 261, ../scss/style.scss */
#sidebar {
  margin-top: 1.25rem;
}

/* line 266, ../scss/style.scss */
#sidebar .panel, .footer-widget .panel {
  border: none;
  background-color: #eee;
  padding: 1.5rem 1.875rem;
}
/* line 270, ../scss/style.scss */
#sidebar .panel a, .footer-widget .panel a {
  color: #999;
  font-size: 0.9375rem;
}
/* line 273, ../scss/style.scss */
#sidebar .panel a:hover, #sidebar .panel a:focus, .footer-widget .panel a:hover, .footer-widget .panel a:focus {
  color: #444444;
}
/* line 278, ../scss/style.scss */
#sidebar ul, .footer-widget ul {
  list-style-type: none;
  margin-left: 0;
}
/* line 283, ../scss/style.scss */
#sidebar .widget h4, .footer-widget .widget h4 {
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  color: #888;
  font-weight: 600;
}

/* line 297, ../scss/style.scss */
footer.full-width {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 3rem;
}
/* line 301, ../scss/style.scss */
footer.full-width p {
  font-size: 0.875rem;
}
/* line 304, ../scss/style.scss */
footer.full-width a {
  color: #666;
  font-size: 0.9375rem;
}
/* line 307, ../scss/style.scss */
footer.full-width a:hover, footer.full-width a:focus {
  color: #444444;
}
/* line 311, ../scss/style.scss */
footer.full-width .love-reverie {
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
}

/* line 318, ../scss/style.scss */
.admin-bar > .fixed {
  margin-top: 2rem;
}

/* line 322, ../scss/style.scss */
.f-topbar-fixed > .container {
  margin-top: 2rem;
}

@media only screen {
  /* line 328, ../scss/style.scss */
  .entry-author .avatar {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 335, ../scss/style.scss */
  #content {
    padding: 3.125rem;
  }

  /* line 338, ../scss/style.scss */
  .entry-author {
    margin: 3.125rem -3.125rem;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 344, ../scss/style.scss */
  #sidebar {
    padding-left: 1.875rem;
    padding-right: 0;
    margin-top: 0;
  }

  /* line 349, ../scss/style.scss */
  .footer-widget {
    margin-top: 3rem;
    padding-top: 2rem;
  }
}
